
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    match /users/{userId} {
      allow read: if isSignedIn();
      allow write: if isOwner(userId);
    }

    match /blogs/{blogId} {
      allow create: if isSignedIn() && request.resource.data.authorId == request.auth.uid;
      allow update, delete: if isSignedIn() && resource.data.authorId == request.auth.uid;
      allow get: if resource.data.visibility == 'public' || (isSignedIn() && resource.data.authorId == request.auth.uid);
      
      // This rule allows unauthenticated users to list public blogs
      // and allows authenticated users to list any blogs for a community they have access to.
      allow list: if request.query.get('visibility') == 'public' || isSignedIn();
    }

    match /communities/{communityId} {
        allow read: if isSignedIn();
        allow create: if isSignedIn() && request.resource.data.ownerId == request.auth.uid;
    }
  }
}
