

:root {
  --background-color: #fff;
  --text-color: #333;
  --heading-color: #222;
  --card-bg: #eeeeee;
  --card-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  /* New color palette */
  --primary-purple: #843484;
  --primary-purple-rgb: 132, 52, 132;
  --gradient-start: #23AF98;
  --gradient-end: #A07FBD;

  /* Button variables */
  --button-border: var(--primary-purple);
  --button-text-color: var(--primary-purple);
  --button-radius: 9999px; /* Fully rounded by default */

  /* Input variables */
  --input-border-color: var(--primary-purple);
  --dark-text-color: var(--text-color);


  /* Checkbox variables */
  --checkbox-border: var(--primary-purple);
  --checkbox-bg-checked: var(--primary-purple);
  --checkbox-text: #fff;

  --text-primary: var(--primary-purple);
  --text-secondary: #666;
  --text-tertiary: #999;
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
  --font-family-light: var(--font-family);

  /* Section colors */
  --communities-color-active: #843484;
  --communities-color-border: rgba(132, 52, 132, 0.3);

  --analytics-color-active: #699FE5;
  --analytics-color-border: rgba(105, 159, 229, 0.3);

  --subscription-color-active: #E1B327;
  --subscription-color-border: rgba(225, 179, 39, 0.3);

  --settings-color-active: #06C4B5;
  --settings-color-border: rgba(6, 196, 181, 0.3);
}

/* Dark mode theme variables can be added here */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #121212;
    --text-color: #e0e0e0;
    --heading-color: #f5f5f5;
    --card-bg: #1e1e1e;
    --card-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    --text-primary: #a64ca6; /* Lighter purple for dark mode */
    --text-secondary: #aaa;
    --text-tertiary: #777;
    --input-border-color: #444;
  }
}
