.customButton {
    /* background-image: url('/text_bg.png'); */
    background-color: #6A4A7C77;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #6A4A7C;
    color: #6A4A7C;
    padding: 0.8rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.125rem;
    cursor: pointer;
    border-radius: 9999px;
    font-weight: 500;
  }
  